.App {
  text-align: center;
}
.form-container {
  width: 70%;
  margin: 10px auto;
  border-radius: 15px;
  border: 1px solid grey;
}
.form-container form {
  width: 80%;
  margin: 2em auto;
  text-align: left;
}
.form-container h1,
.form-container h2,
.form-container h3,
.form-container h4 {
  text-align: center;
  margin: 2em;
}
.controls {
  text-align: right;
  padding: 2em;
}
.controls i {
  cursor: pointer;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
